  <!-- Default form contact -->
  <%= form_with(model: resto, local: true) do |form| %>
  <% if resto.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(resto.errors.count, "error") %> prohibited this resto from being saved:</h2>

      <ul>
        <% resto.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="text-center border border-light p-5" style="width:50%;margin:auto">
    <p class="h4 mb-4">New Restaurent</p>

    <!-- Name -->
    <%= form.text_field :name,id:"defaultContactFormName", class:"form-control mb-4", placeholder:"Name" %>
    <!-- Location -->
    <%= form.text_field :location,id:"defaultContactFormEmail", class:"form-control mb-4", placeholder:"Location" %>
    <!-- photo -->
   <div class="file-field">
    <div class="btn btn-primary btn-sm float-left">
      <span>Choose file</span>
      <%= form.file_field :photo %>
    </div>
  </div>

  <%= form.text_field :website,id:"defaultContactFormEmail", class:"form-control mb-4", placeholder:"Website" %>
    <!-- online delivery -->
    <label>Online Delivery</label>
    <%= form.select(:online_delivery, options_for_select([['yes','yes'],['no','no']]),class:"browser-default custom-select mb-4") %>
    <!-- table booking -->
    <label>Table Booking</label>
    <%= form.select(:table_booking, options_for_select([['yes','yes'],['no','no']]),class:"browser-default custom-select mb-4") %>
    <!-- currency -->
    <label>Currency</label>
    <%= form.select(:currency, options_for_select([['$','$'],['rwfs','rwfs']]),class:"browser-default custom-select mb-4") %>
    <!-- cuisine -->
    <%= form.text_field :cuisine,id:"defaultContactFormEmail", class:"form-control mb-4", placeholder:"Cuisine" %>
     <!-- price range -->
     <%= form.number_field :price_range,class:"form-control mb-4",placeholder:"Price Range" %>
</div>
  <hr>

  <div class="row m-auto">
    <div class="col text-left">
      <h3 class="text-orange">Breakfast</h3>
      <%= form.fields_for :breakfasts do |ff| %>
      <div class="form-group form-inline">
        <%= ff.text_field :name, class: "form-control mr-2", placeholder: "Add item" %>
        <%= ff.text_field :price, class: "form-control w-25", placeholder: "Price" %>
      </div>
      <% end %>
    </div>
    <div class="col text-left">
      <h3 class="text-orange">Lunch</h3>
      <%= form.fields_for :lunches do |ff| %>
        <div class="form-group form-inline">
          <%= ff.text_field :name, class: "form-control mr-2", placeholder: "Add item" %>
          <%= ff.text_field :price, class: "form-control w-25", placeholder: "Price" %>
        </div>
      <% end %>
    </div>
  </div>

  <div class="actions">
    <!-- Send button -->
    <button class="btn btn-info btn-block btn-sm-3" type="submit">Submit</button>
  </div>
<% end %>
