<div class="main">
<div class="content">
<p id="notice"><%= notice %></p>
<hr>

<div class="tasks">

<h1>Lunches</h1>

<table class = "table table-bordered">
  <thead>
    <tr>
      <th>Name</th>
      <th>Price</th>
      <th colspan="3">More Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @lunches.each do |lunch| %>
    <% if current_user.id == lunch.user_id %>
      <tr>
        <td><%= lunch.name %></td>
        <td><%= lunch.price %></td>
        
        <td><%= link_to 'Show', lunch,class:'btn btn-primary btn-sm' %></td>
        <td><%= link_to 'Edit', edit_lunch_path(lunch),class:'btn btn-warning btn-sm' %></td>
        <td><%= link_to 'Destroy', lunch, method: :delete, data: { confirm: 'Are you sure?' },class:'btn btn-secondary btn-sm' %></td>
      </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Lunch', new_lunch_path, class: 'new' %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<%= link_to 'Available Break fasts', breakfasts_path, class: 'new' %>&nbsp;&nbsp;&nbsp;&nbsp;
<%= link_to 'New BreakFast', new_breakfast_path, class: 'new' %>
</div>
</div>
<br><br><br><br>
</div>